@media(min-width: 429px) {
    body {
        background-image: linear-gradient(
                rgba(0, 0, 0, 0.2),
                rgba(0, 0, 0, 0.2)),
                url("/static/img/1page.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        overflow: hidden;
    }

    .main-wrapper {
    background-color: rgba(225, 225, 225, 0);
}
@media(max-width: 700px){
    body {
        background-image: none;
    }

    .main-wrapper{
        background: linear-gradient(rgba(96, 128, 198), rgba(198, 198, 198));
    }
}

.main-wrapper {
    max-width: 428px;
    max-height: 926px;
    /*width: 100%;*/
    /*height: 100%;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;

}

#main-header {
    height: 70px;
    display: flex;
    justify-content: flex-end;
}

#ball {
    max-height: 100%;
    width: 50px;
    height: 50px;
}

.main {
    width: 100%;
    height: 100vh;
    position: relative;
}

#logo {
    margin-top: 20px;
    max-width: 100%;
    max-height: 200px;
}

#droh {
    margin-top: 30px;
    height: 50%;
}

.msg {
    width: 100%;
    height: 150px;
    align-items: center;
    position: absolute;
    background-image: url("/static/img/msgbox.jpg");
    background-size: 100% 100%;
    bottom: 0;
}

#text {
    font-family: 'pokemon';
    font-size: x-large;
    margin-left: 30px;
    margin-top: 30px;
    transform: tranlate(-50%, -50%);
}