@media(min-width: 429px) {/*데스크탑화면에서만 보일 친구들*/
    body{
        background-image: linear-gradient(
                rgba(192,192,192,0.5),
                rgba(192,192,192,0.5) ),
                url("/static/img/3page_back2.png");
        background-size: 100%;
        background-repeat: no-repeat;
        /*display: flex;*/
        /*position:relative;*/
        }
    #dex_container{
        margin: 10% auto;
        position:relative;
    }
    .main_container{
        margin:0 auto;
    }
    /*메세지 상자*/
    #msg_container {
        display: flex;
        position: fixed;
        width: 400px; /*창에따라 메세지박스 줄지않도록 px로 고정*/
        height: 300px; /*창에따라 메세지박스 줄지않도록 px로 고정*/
        min-height: 100px;
        top:50%;
        left:50%;
        transform: translateX(-50%) translateY(-10%);
        /*fixed로 맞춰논 기준부터 x축, y축 이동을 해주는 친구!*/
        cursor: pointer;
    }
    #msg_wrapper{
        font-family: "pokemon";
        display: flex;
        position: relative;
        width : 100%;
        margin : auto;
    }
    #msg_wrapper img{
        width: 100%;
    }
    #msg_wrap{
        width: 100%;
        display: flex;
        position: absolute;
    }
    #msg_wrap p{
        font-size: 40px;
        margin: 5% 0 0 4%;
    }
    #msg_wrap img{
        width: 20px;
        height: 10px;
    }
    #oh_box{
        display: none;
    }
}

@media(max-width:428px){/*모바일화면에서만 보일 친구들*/
    body{
        background-image: none;
    }
    #dex_container{
        margin: 0 auto;
        flex:none;
    }
    /*오박사 이미지*/
    #oh_box{
        margin-top: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        width:100%;
        max-width: 428px;
    }
    #oh_img img{
        width: 100%;
    }
    /*메세지 상자*/
    #msg_container {
        display: flex;
        min-width: 200px;
        width: 100%;
        margin-top:10%;
        cursor: pointer;
    }
    #msg_wrapper{
        font-family: "pokemon";
        display: flex;
        position: relative;
        width : 100%;
        margin : auto;
    }
    #msg_wrapper img{
        width: 100%;
        height: auto;
    }
    #msg_wrap{
        width: 100%;
        height: 100%;
        display: flex;
        position: absolute;
    }
    #msg_wrap p{
        font-size: 25px;
        margin: 6% 0 0 6%;
    }
    #msg_wrap img{
        width: 20px;
        height: 10px;
    }
    #desc_box #p_wrapper #name{
        font-size: 5%;
        overflow-y: scroll;
    }
    #desc_box #p_wrapper #type{
        font-size: 80%;
        overflow-y: scroll;
    }
    #desc_box #p_wrapper #class{
        font-size: 80%;
        overflow-y: scroll;
    }
    #desc_box #p_wrapper #desc{
        font-size: 80%;
    }
}

/*도감 전체*/
#dex_container{
    background-color: black;
    max-width: 428px;
    max-height: 926px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
/*도감 윗부분*/
#dex_upper {
    background-color: rgba(203, 193, 201, 0.49);
    max-width: 428px;
    width: 100%;
}
.upper_wrapper {
    position: relative;
    width: 100%;
    height: 40%;
    display:flex;
    justify-content: center;
}
.upper_layer img{
    width: 100%;
}

#dex_upper .img_box{
    border: 3px solid black;
    width: 80%;
    height: 70%;
    background-color: lightblue;
    display: flex;
    justify-content: center; /*사진이미지가 가운데에 오도록*/
    position: absolute;
    margin-top: 5%;
}
#dex_upper .img_box #image{
    width: 99%;
    height: 100%;
    border: 2px solid grey;
}

/*도감 밑부분*/
#dex_lower{
    background-color: rgba(203,193,201,0.49);
    max-width: 428px;
    height: 100%;
    width:100%;
    display: flex;
    margin-top: 0;
}
.lower_wrapper{
    display:flex;
    position: relative;
}
.lower_layer{
    width: 100%;
}
.lower_layer img{
    width: 100%;
}
#dex_lower #desc_box{
    display:flex;
    justify-content: space-evenly;
    position: absolute;
    height: 90%; /*전체 높이잡아주고*/
}
/**/
.p_wrapper_box{
    border: 3px solid black;
    width: 75%;
    max-height: 300px;
    margin-top: 7%;
    background-color: rgba(185,238,174,0.89);
    margin-left: 6%;
    margin-bottom: 3%;
    font-family: 'pokemon';
    font-size: 20px;
    overflow-y:scroll; /*넘치면 스크롤이 생기도록 해줌. hidden은 넘치면 안보이게함*/
    height: 90%;/*밑부분의 전체높이에서 박스의 높이를 지정*/
}
#dex_lower #desc_box #p_wrapper{
    margin-left: 5%;
    margin-right: 3%;
    height: 80%;
    margin-top: 0;
}
#desc_box #p_wrapper #name{
    font-size: 25px;
    height: 35px;
    border-bottom: 3px solid grey;
    margin : 3% 0 2% 0;
    text-align: center;
}
#desc_box #p_wrapper #type{
    border-bottom: 1px solid grey;
    height: 25px;
    margin : 1% 0 1% 0;
}
#desc_box #p_wrapper #class{
    border-bottom: 3px solid grey;
    height: 25px;
    margin : 1% 0 1% 0;
}
#desc_box #p_wrapper #desc{
    margin : 1% 5% 1% 5%;
}
#desc_box #p_wrapper .return{
    font-size: 13px;
}
#desc_box #p_wrapper hr{
    border : 1px solid transparent; /*초록색버튼 설명부분이 너무 밑으로 붙어서 hr로 선하나 추가하고 색없앰*/
}
.bts{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.bts #evo_check{
    width :30px;
    height: 30px;
    border-radius: 60%;
    background-color: yellow;
}
.bts #home{
    width : 30px;
    height: 30px;
    border-radius: 60%;
    background-color: lawngreen;
}
