/*폰트적용*/
@font-face {
    font-family: 'pokemon';
    src: url('/static/font/pokemongsc.ttf') format('truetype');
}
/*도감 전체*/
#dex_container{
    background-color: black;
    max-width: 428px;
    max-height: 926px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto;
    margin-top: 50px; /*얼마나 띄울지 진영님과 얘기하기*/
}
/*도감 윗부분*/
#dex_upper {
    background-color: rgba(203, 193, 201, 0.49);
    max-width: 428px;
    width: 100%;
}
.upper_wrapper {
    position: relative;
    width: 100%;
    height: 40%;
    display:flex;
    justify-content: center;
}
.upper_layer img{
    width: 100%;
}

#dex_upper .img_box{
    border: 3px solid black;
    width: 80%;
    height: 70%;
    background-color: lightblue;
    display: flex;
    position: absolute;
    margin-top: 5%;
}
#dex_upper .img_box #image{
    width: 99%;
    height: 100%;
    border: 2px solid grey;
}


