
body{
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url("/static/img/page22.PNG");
    background-size: 100% 100%;
    background-repeat: repeat;
    overflow: hidden;
    font-family: 'pokemon';
}

@media(min-width: 429px) {
    body{
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url("/static/img/page22.PNG");
    background-size: 100% 100%;
    background-repeat: repeat;
}
    .main-wrapper {
        /*배경화면 검정색 필터 */
        background-color: rgba(225, 225, 225, 0);
        background-image: url("/static/img/page22.jpeg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        max-width: 428px;
        max-height: 926px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 120px auto 80px;
    }
}
@media(max-width: 428px){
    body {
        background-image: none;
    }
    .main-wrapper{
        background-image: url("/static/img/page22.jpeg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        max-width: 428px;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        overflow: hidden;
    }
}

/*#main-header {*/
/*    height: 70px;*/
/*    display: flex;*/
/*    justify-content: flex-end;*/
/*}*/

/*#ball {*/
/*    max-height: 100%;*/
/*    width: 50px;*/
/*    height: 50px;*/
/*}*/

.container {
    width: 100%;
    height: 80vh;
    position: relative; /* zindex 적용위해 컨테이너에 relaive*/
}

.img_wrap{
    padding-top: 30%;
    width: 80%;
    height: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#input_box{
    margin-bottom: 50%;
    z-index: 5;
}
#img {
    max-width: 100%;
    max-height: 100%;
    width:10%;
    height: auto;
    display: block;
    margin: auto;
}
/**/
.cover{/*풀이미지 감싸는 div*/
    max-width: 428px;
    width: 100%;
    height: 16%;
    position: absolute;/*absolute주고 */
    margin-top: 500px;
    z-index: 3; /* 사진올리기전 얘가 제일 위. position주고, 번호가 높을수록 제일위에 위치*/
}
#grass{
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

#input_box {
    margin-bottom: 50%;
    z-index: 5;
}

#input_box img {
    max-height: 50px;
    max-width: 50px;
}

#input_box label {
  display: inline-block;
  padding-left: 20px;
  font-size: large;
  background-color: transparent;
  cursor: pointer;
}

#input_box input[type="file"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.msgbox1 {
    max-width: 428px;
    width: 100%;
    height: 15%;
    position: absolute;
    margin-top: 500px;
    z-index: 2;/* 풀이미지 다음 2번째 층에 위치 */
    cursor: pointer;
}

#msg1 {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.msgbox2 {/*메세지박스2이미지 감싸는 div*/
    max-width: 428px;
    width: 100%;
    height: 15%;
    position: absolute;
    margin-top: 500px;
    z-index: 1; /*제일 아래 위치*/
    cursor: pointer;
}

#msg2 {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
}

.modal_container {
    width: 200%;
    height: 200%;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
}
.modal_container .modal_box {
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 250px;
    height: 250px;
    z-index: 11;
    border-radius: 5px;
    text-align: center;
    font-size: 2rem;

}
.modal_container .modal_box img {
    animation: rotate_image 2s infinite linear;
    width: 150px;
    height: 150px;
    margin: 20px 50px 10px;
    
}
@keyframes rotate_image{
    100% {
        transform: rotate(360deg);
    }
}
