{% extends "base.html" %}

{% block title %}홈{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/css/index.css">
<script src="/static/js/index.js"></script>
{% endblock %}

{% block main %}
<div class="main-wrapper">
<div id="main-header">
<div id="main-header1"></div>
<div id="main-header3" onclick="location.href='/upload'"></div>
<div id="main-header2"></div>
</div>
<div class="main">
    <img id="droh" src="/static/img/droh1.PNG">
</div>
<div class="msg">
    <img id="msgbox" src="/static/img/msgbox.jpg">
    <div id="text"> 명준 진영 가을 상호 성<br>포켓몬 머신러닝 프로젝트<br>당신과 닮은 포켓몬은? </div>
</div>
</div>
{% endblock %}
