{% extends "base.html" %}

{% block title %}홈{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/css/index.css">
<script src="/static/js/index.js"></script>
{% endblock %}

{% block main %}
<div class="main-wrapper">
<div class="main-header">
<div class="main-header1"></div>
<div class="main-header3"></div>
<div class="main-header2"></div>
</div>

<img class="droh" src="/static/img/droh.PNG">

<div class="msg">
    <img class="msgbox" src="/static/img/msgbox.jpg">
    <div class="text"> 명준 진영 가을 상호 성<br>포켓몬 머신러닝 프로젝트<br>당신과 닮은 포켓몬은? </div>
</div>
</div>
{% endblock %}
