{% extends "base.html" %}

{% block title %}홈{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/css/index.css">
<script src="/static/js/index.js"></script>
{% endblock %}

{% block main %}
<div class="main-wrapper">
    <div id="main-header">
        <img id="ball" src="/static/img/ball.PNG">
    </div>
    <div class="main">
        <img id="logo" src="/static/img/logo.png">
        <img id="droh" src="/static/img/droh2.png" onclick="location.href='/upload/'">
        <p id="click_msg">오박사를 클릭하세요.</p>
        <div class="msg">
            <div class = "msg_img">
               <img id="box2" src="/static/img/msgbox.jpg">
                <div id="text">
                명준 진영 가을 상호 성<br>포켓몬 머신러닝 프로젝트<br>당신이 포켓몬이라면?
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
