{% extends "base.html" %}

{% block title %}결과{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/pokedex.css">
<script src="/static/js/pokedex.js"></script>
{% endblock %}

{% block main %}
    <div id = "dex_container"><!---->
        <!--도감 윗부분-->
        <div id ="dex_upper">
            <div class ="upper_wrapper">
                <div class = "upper_layer">
                    <img src="/static/image/pokedex_upper2.png">
                </div>
                <div class = "img_box">
                    <!--닮은 포켓몬 이미지 파일 받아서 들어갈 곳-->
                    <img id = "image" src="/static/image/오박사.png">
                </div>
            </div>

        </div>
        <!--도감 밑부분-->

    </div>

{% endblock %}
<script>
    function show_evolution(){

    }
</script>