{% extends "base.html" %}

{% block title %}결과{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/css/pokedex.css">
<script src="/static/js/pokedex.js"></script>
{% endblock %}

{% block main %}
    <div id = "dex_container"><!---->
        <!--도감 윗부분-->
        <div id ="dex_upper">
            <div class ="upper_wrapper">
                <div class = "upper_layer">
                    <img src="/static/img/pokedex_upper.png">
                </div>
                <div class = "img_box">
                    <!--닮은 포켓몬 이미지 파일 받아서 들어갈 곳-->
                    <img id = "img" src="/static/{{ img_info.img }}">
                </div>
            </div>

        </div>
        <!--도감 밑부분-->
        <div id ="dex_lower">
            <div class = "lower_wrapper">
                <div class = "lower_layer">
                    <img src="/static/img/pokedex_lower.png">
                </div>
                <div id = "desc_box">
                    <div class = "p_wrapper_box">
                        <div id ="p_wrapper">
                            <!--세부 사항들 들어갈 곳-->
                            <p id ="name" >당신은 {{ poke_info.kor_name }} 였군요!! </p>
                            {% if poke_info.type_2 == None %}
                            <p id ="type" >타입 : {{poke_info.type_1}}</p>
                            {% else %}
                            <p id ="type" >타입 : {{poke_info.type_1}}  {{poke_info.type_2}}</p>
                            {% endif %}
                            <p id ="class" >분류 : {{ poke_info.poke_class }}</p>
                            <p id ="desc" >{{ poke_info.desc }}</p>
                            <hr style="color: gray" size="1px">
                            <p class = "return"> 노란색 버튼을 누르면 사진올리는 페이지로 돌아갑니다.</p>
                            <br>
                            <p class = "return"> 초록색 버튼을 누르면 첫페이지로 돌아갑니다.</p>
                            <hr>
                            <p class ="return"> 숨겨진 버튼을 누르면 프로젝트 설명 페이지로 이동합니다.</p>
                            <hr>
                        </div>
                    </div>
                    <div class = "bts">
                        <button id = "evo_check" onclick = "location.href='/upload'"></button>
                        <button id = "home" onclick = "location.href='/'"></button>
{#                        <div id="a_box">#}
                            <a id = "git" href="https://github.com/grolarkim/ML_project_team8/wiki"></a>
{#                        </div>#}
                        <!--버튼추가할것-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id ="oh_box">
        <img src="/static/img/droh2.png">
    </div>
    <div id = "msg_container" onclick="clickmsg()">
        <div id ="msg_wrapper">
            <img src="/static/img/msgbox.jpg">
            <div id="msg_wrap">
                <p>결과가 나왔단다. <br> 확인해 보겠니?</p>
            </div>
        </div>
    </div>
{% endblock %}