{% extends "base.html" %}

{% block title %}사진 선택{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/css/upload.css">
<script src="/static/js/upload.js"></script>
{% endblock %}

{% block main %}
<div class="main-wrapper">
    <div id="main-header">
    <div id="main-header3" onclick="location.href='/'"></div>
    </div>
    <div class="img_wrap">
        <img id="img" />
    </div>
    <img id="msg1" src="/static/img/msg1.PNG">
    <input type="file" id="input_img" img src="/static/img/ball2.png" />
    <button id="check1" onclick="posting_img()">결과보기</button>
</div>
{% endblock %}
