{% extends "base.html" %}

{% block title %}사진 선택{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/css/upload.css">
<script src="/static/js/upload.js"></script>
{% endblock %}

{% block main %}
    <div class="main-wrapper">
        <div class="container">
            <div class="img_wrap" >
                <img id="img" onload="show_msg()" />
            </div>
            <div id ="input_box">
                <label for="input_img"><img src="/static/img/pika.png">사진 선택</label>
                <input type="file" id="input_img"/>
            </div>
        </div>
        <div class="cover" id ="bye">
            <img id="grass" src="/static/img/cover.png" >
        </div>
        <div class="msgbox1">
            <img id="msg1" src="/static/img/msg1.PNG" onclick="box_change()">
        </div>
        <div class="msgbox2" id="pop">
            <img id="msg2" src="/static/img/msg2.jpg" onclick="posting_img()">
        </div>
    </div>
    <div class="modal_container">
        <div class="modal_box">
            <img src="/static/img/ball.png">
            <p>결과 분석 중</p>
        </div>
    </div>

{% endblock %}

