{% extends "base.html" %}

{% block title %}사진 선택{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/css/upload.css">
<script src="/static/js/upload.js"></script>
{% endblock %}

{% block main %}
    <div class="main-wrapper">
        <div id="main-header">
{#            <img id="ball" src="/static/img/ball.PNG">#}
        </div>
        <div class="container">
            <div class="img_wrap">
{#                <img id="img"/>#}
            </div>
{#            <input type="file" id="input_img"/>#}
            <div class="msg">
{#                <img id="msg1" src="/static/img/msg1.PNG" onclick="changeimg()">#}
            </div>
{#            <img id="button" onclick="location.href='/pokedex/'" src="/static/img/Silhouette.png">#}
        </div>
    </div>

{% endblock %}
